 <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
<nav class="navbar navbar-expand-lg p-0 ">
  <div class="container-fluid  shadow pt-1 mb-5 bg-white rounded" padding-top = 0> 
    <a class="navbar-brand p-0 " href="/" >
      <img src="<%= asset_path("logo.png") %>" width="100%" height="70vh">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link hov12 " href="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link  hov12" href="eventer">Room</a> </li>
        <li class="nav-item">
          <a class="nav-link  hov12" href="Catagory">Catagory</a> </li> 
        <li class="nav-item">
          <a class="nav-link hov12" href="contact">Contact us</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Marketing 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Email Campaign</a></li>
            <li><a class="dropdown-item" href="#">Share on Social</a></li>
            <li><a class="dropdown-item" href="#">Instagram Growth</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"></a>
        </li>
      </ul>
      <div class = "hh1">
        <!-- <button class="btn" type="subm it">Login</button> -->
        <a class="btn" class="btn-2" href="login" role="button">Login</a>
        <%= link_to "Register", new_user_path ,class: "btn btn-primary"%>
        
      </div>

</nav>

